{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="login">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes identifier en tant que  {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="text-center mb-5">Merci de vous identifier </h1>
            <div class='container-fluid'>
                <div class='text-center mb-5 '>
                    <label class='col-12 text-center' for="inputPseudo"><h3>Pseudo</h3></label>
                    <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="col-4 " autocomplete="username" required autofocus>
                </div>
                <div class='text-center mb-5'>
                    <label class='col-12 text-center' for="inputPassword"><h3>Mot de passe</h3></label>
                    <input type="password" name="password" id="inputPassword" class="col-4" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="checkbox text-center mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> se souvenir de moi
                    </label>
                </div>


                <div class='text-center'>
                <button class="btn btn-lg btn-secondary col-4 " type="submit">
                    Valider
                </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
