{% extends 'base.html.twig' %}

{% block title %}
    annulation
{% endblock %}

{% block body %}
    <h1>Annulation de la sortie </h1>
    {{ form_start(annulationForm) }}
    <label for="">Nom : </label>{{ sortie.nom }}<br>
    <label for="">Date de la sortie : </label>{{ sortie.dateHeureDebut|date }}<br>
    <label for="">Campus : </label>{{ sortie.campus.nom }}<br>
    <label for="">Lieu : </label>{{ sortie.lieu.nom}} {{sortie.lieu.rue}} {{sortie.lieu.ville.codePostal}} {{sortie.lieu.ville.nom}}
    <br>
    {{ form_widget(annulationForm) }}
    <input type="submit" name="Enregistrer">
    <button href="{{ path('sortie_detail',{'id':sortie.getId()}) }}">Retour</button>//le bouton annule c'est pas bon
    {{ form_end(annulationForm) }}
{% endblock %}

