{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}
{# afficher la ville et l'organisateur ? #}
{% block body %}
    <div class='container-fluid mt-md-5 mb-5 text-secondary'>
        <div class="row">
            <div class="col-6 row">
                <label for="nom" class="col-6" ><h4>Nom de la sortie :</h4></label>
                <div class="col-6">{{ sortie.getNom() }}</div>
                <label for="date" class="col-6"><h4>Date et heure de la sortie :</h4></label>
                <div class="col-6">{{ sortie.getDateHeureDebut()|date("d/m/Y H:m", "Europe/Paris" ) }}</div>
                <label class="col-6" for="limite"><h4>Date limite d'inscription :</h4></label>
                <div class="col-6">{{ sortie.getDateLimiteInscription()|date("d/m/Y") }}</div>
                <label class="col-6" for="nbPlace"><h4>Nombre de places :</h4></label>
                <div class="col-6">{{ sortie.getNbMaxInscription() }}</div>
                <label class="col-6" for="duree"><h4>Durée :</h4></label>
                <div class="col-6">{{ sortie.getDuree() }} minutes</div>
                <label class="col-6" for="description"><h4>Description et info :</h4></label>
                <div class="col-6">{{ sortie.getInfoSortie() }}</div>
            </div>
            <div class="col-6 row">
                <label class="col-6" for="campus"><h4>Campus :</h4></label>
                <div class="col-6">{{ sortie.getCampus().getNom() }}</div>
                <label class="col-6" for="lieu"><h4>Lieu :</h4></label>
                <div class="col-6">{{ sortie.getLieu().getNom() }}</div>
                <label class="col-6" for="rue"><h4>Rue :</h4></label>
                <div class="col-6">{{ sortie.getLieu().getRue() }}</div>
                <label class="col-6" for="cp"><h4>CodePostal :</h4></label>
                <div class="col-6">{{ sortie.getLieu().getVille().getCodePostal() }}</div>
                <label class="col-6" for="latitude"><h4>Latitude :</h4></label>
                <div class="col-6">{{ sortie.getLieu().getLatitude() }}</div>
                <label class="col-6" for="longitude"><h4>Longitude :</h4></label>
                <div class="col-6">{{ sortie.getLieu().getLongitude() }}</div>
            </div>
        </div>
        <div>
            <table class="table table-sm text-secondary mt-5" >
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>

                    {% for participant in sortie.getParticipation() %}
                        <tr>
                            <td>{{ participant.getPseudo() }}</td>
                            <td>{{ participant.getPrenom() }} {{ participant.getNom() }}</td>
                        </tr>
                    {% endfor %}

            </table>
        </div>
    </div>
        <form action="{{ path('sortie_listeSortie') }}">
            <button class="btn btn-lg btn-secondary">Retour a l'accueil</button>
        </form>
    </div>

{% endblock %}
