{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <h2 class='text-center mb-5'>Votre profil</h2>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-4'>
                <img src="{{ asset('uploads/photos/'~app.user.photo) }}" height="250px">
            </div>
            <div class='col-6'>
                {{ form_start(userForm) }}
                {{ form_widget(userForm) }}
            </div>

            <div class='col-12 text-center mt-5'>
                <input type="submit" value="Enregistrer" class="col-2 btn btn-lg btn-secondary">
                <input  type="reset" value="Annuler" class="col-2 btn btn-lg btn-secondary" onclick= "document.location.href='{{ path('sortie_listeSortie') }}'">
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>


{% endblock %}
