{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <h2>Voir profil</h2>
    <div>
        <img src="{{ asset('uploads/photos/'~app.user.photo) }}" height="150px">
    </div>
    <div>
        {{ form_start(userForm) }}
        {{ form_widget(userForm) }}
        <button>Enregistrer</button>

        <input  type="reset" value="annuler" onclick= "document.location.href='{{ path('sortie_listeSortie') }}'">
        {{ form_end(userForm) }}
    </div>


{% endblock %}
